

/*up until now its just mock elements */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 10%;
  padding-top: 0;
  height:100vh;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.title{
  text-align: center;
  margin-bottom: 1em;
}
h1 {
  margin-top: 1em;
  font-size: 3rem;
  font-weight: bolder;
}

.gameContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}
h3 {
  font-size: 2rem;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.testContainer{
  display:flex;
  width: 100%;
  flex-grow: 5;
  justify-content: center;
  padding: 10%;
}
.gameboardTest {
  position: relative;
  background-color: red;
  flex-grow: 1;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
/* align center is not align stretch */
/*to use both wrap in div and stretch one and center the other?*/