

/*up until now its just mock elements */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
}

.title{
  text-align: center;
  margin-bottom: 1rem;
}

h1 {
  margin-top: 1em;
  font-size: 3rem;
  font-weight: bolder;
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.gameHeader {
  width: 100%;
}
h3 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 80vh;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.gameboardTest,.frame .shipPlaceGrid {
  flex-shrink: 1;
  background-color: red;
  width: 40rem;
  height: 40rem;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}
.hiddenCell,.shownCell {
/*   position: absolute; */
  background-color: blue;
  border-style: solid;
  border-color: black;
  border-width: 0.1rem;
}
.miss {
  background-color: black;
}
.hit {
  background-color: pink;
}
.sunk {
  background-color: blueviolet;
}

/* align center is not align stretch */
/*to use both wrap in div and stretch one and center the other?*/

.frame {
  position: absolute; 
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.5); 
  top: 0; 
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame>.placeShipsDiv {
  background-color: white;
  opacity: 1;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}